<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-color:#grey;">
  <div id="post_tweets" style="margin-left:500px;">
    <h1 style="color:black; margin-left:150px;">Twitter API</h1>
    <br/>
    <form class="#" action = "" method="post" enctype="multipart/form-data">
      <textarea style="height:200px; width:500px;" maxlength="140" name="tweet_text" rows="1" required cols="10" placeholder="What's happening?"></textarea>
      <br/>
      <button type="submit"  style="height:40px; width:100px;background-color:#4db8ff;margin-left:200px;" class="myButton" value="Tweet">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <span >Tweet</span>
      </button>
    </form>
  </div>
</body>
</html>